
// FLEX LAYOUT MIXIN
@mixin flexlayout ($disp: flex) {
    display: $disp;
    @content;
}

// MEDIA QUERY MIXIN
@mixin mq($break) {
    // WAY TO GET THE BALUE ASSOCIATED WITH A KEY
    // MAP-GET($MAP, $KEY) RETURNS A VALUE IN THE MAP
    $value: map-get( $breakpoints, $break );
    @media ( min-width: $value ) {
        @content;
    }
}

// BASIC LIGHTEN BAKCGROUND HOVER
@mixin backgroundhover($color, $lighteness: 15%) {
    &:hover {
        background-color: lighten($color, $lighteness)
    }
}

// BASIC TRANSITION MIXIN
@mixin transmixin ($prop: all, $time, $func: 'ease') {
    transition: $prop $time $func;
}