/* ============================================= */
/*                 Default Color                 */
/* ============================================= */

$color-black: #222222;
$color-neutral: #445069;
$color-neutral-light: #D2D2D2;
$color-lose: #D94545;

$color-navy: #36486b;
$color-navy-lighter: #5b85b7;
$color-purple: #6645dd;
$color-puple-lighter: #7477BF;
$color-cyan: #076b70;
$color-cyan-lighter: #007c7c;
$color-cyan-lightest: #4da2bb;
$color-red: #ee3322;
$color-red-lighter: #e4757a;
$color-red-lightest: #ec9fa3;
$color-orange: #f47f16;
$color-orange-lighter: #f7ad19;
$color-red-orange: #fd7856;
$color-red-orange-lighter: #fd9f85;
$color-gray: #757575;
$color-gray-lighter: #d6d6d6;
$color-gray-lightest:#f5f5f5;

$color-white-gray: #f8f5f5;
$color-blue: #0f65ef;
$color-skyblue: #b7d7e8;
$color-green: #68af15;
$color-green-lighter: #78CF82;
$color-pink:#e40c78;
$color-green-cyan: #80e8d1;


/* ============================================= */
/*                 Extra Color                   */
/* ============================================= */

$color-primary: #58e1c1;
$color-info: #927bc1;
$color-success: #63cc82;
$col-1: #deb2ee;
$col-2: #7ee6fd;
$col-3: #88d9a0;
$col-4: #4da2bb;
$col-5: #51ddfc;


/* ============================================= */
/*                 Social Color                  */
/* ============================================= */

$linkedin-color: #0077b5;
$google-color: #dd4b39;
$github-color: #24292E;


/* ============================================= */
/*             Media Query Points:               */
/*                                               */
/*     Without media query is less than 576px.   */
/*            Using min-width: value,            */
/*            'sm' is 576px ~ 767px              */
/*           'med' is 768px ~ 991px              */
/*           'lg' is 992px ~ 1199px              */
/*              'xlg' is 1200px ~                */
/* ============================================= */

$breakpoints: (

// Small devices (landscape phones, 576px and up)
    'sm': 576px,

// Medium devices (landscape tablets, 768px and up)
    'med': 768px,

// Large devices (laptops/desktops, 992px and up)
    'lg': 992px,

// Extra large devices (large laptops and desktops, 1200px and up)
    'xlg': 1200px
);